.config/btop/
.config/chromium/
.config/Code/
.config/dconf/
.config/discord/
.config/docker/
.config/flameshot/
.config/gcloud/
.config/gedit/
.config/GiKraken/
.config/GIMP/
.config/GitKraken/
.config/go/
.config/google-chrome/
.config/gthumb/
.config/gtk-3.0/
.config/gtk-4.0/
.config/guvcview2/
.config/java/
.config/jupyter/
.config/keepassxc/
.config/keepasxc/
.config/libreoffice/
.config/Microsoft/
.config/mimeapps.list
.config/obsidian/
.config/pavucontrol.ini
.config/Postman/
.config/pulse/
.config/pypoetry/
.config/QDirStat/
.config/qt5ct/
.config/QtProject.conf
.config/screenlayout.sh
.config/Slack/
.config/SpeedCrunch/
.config/transmission/
.config/uv/
.config/vlc/
.config/wandb/
.config/Signal/
.config/zsh/.p10k.zsh
.config/zsh/.zcompdump*
.config/zsh/.zsh_history
.config/zsh/.zshrc.pre-oh-my-zsh
*~
