configuration {
	modi: "drun,file-browser-extended";
}

@theme "~/.cache/wal/colors-rofi-dark"

// fix that allows using pre 1.7.0 themes with new rofi
// necessary for pywal
// https://github.com/davatorium/rofi/issues/1397#issuecomment-908683906
element-text, element-icon {
    background-color: inherit;
    text-color:       inherit;
}
